.header-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .dashboard {
        display: flex;
        justify-content: space-evenly;
        list-style-type: none;
        font-size: 16px;
    }

    .main-name {
        text-decoration: none;
    }
}

